@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Poppins&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=PT+Serif&family=Poppins&family=Space+Mono&display=swap');

body {
    height: 100vh;
}

.header {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top-header {

    font-family: PT Serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.045em;
    
    color: #000000;    
}

.right-header {
    
    margin-top: 50px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
}

.text-header {

    height: 5px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000;

}

.text2-header {

    width: 400px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    
    color: #000000;
}

.section {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.images {
    float: left;
    height: 350px;
    width: 240px;
}

.wrap {
    display: flex;
}
.wrap-special {
    display: flex;
    padding: 50px;
    padding-bottom: 0px;
}

.rotated-text {

    
    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #000000;
    writing-mode: vertical-rl;

    
}

.rotated-text-2 {


    font-family: PT Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    text-transform: uppercase;

    color: #000000;
    writing-mode: vertical-rl;

    
}

.images2 {
    height: 350px;
    width: 240px;
}

.first-section {
    padding: 50px;
    display: flex;
}

.second-section {
    padding: 50px;
    display: flex;
}

.section-texts {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    
    color: #000000;    
}

.special-section {
    padding-left: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
}

.footer {


    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    /* line-height: 17px; */
    /* identical to box height */
    
    text-align: center;
    
    color: #BDBDBD;


}

@media only screen and (max-width: 800px) {

    .images {
        height: 100%;
        width: 90%;
    }

    .images2 {
        height: 100%;
        width: 90%;
    }

    .header {
        flex-direction: column;
    }

    .section {
        flex-direction: unset;
    }

    .first-section {
        padding: 0px;
        display: flex;
        flex-direction: column;
    }
    
    .second-section {
        padding-bottom: 200px;
        display: flex;
        flex-direction: column;
    }
    
    .wrap-special {
        display: flex;
        padding: 0px;
        padding-bottom: 0px;
    }
    
}





